
{% extends "admin_base.html" %}

{% block content %}
    <h2>Change Password</h2>

    <form method="post">
        <div class="mb-3">
            <label>Current Password</label>
            <input type="password" name="current" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>New Password</label>
            <input type="password" name="new" class="form-control" required>
        </div>

        <button class="btn btn-primary">Update Password</button>
    </form>
     <a href="{{ url_for('admin.dashboard') }}" class="btn btn-secondary">Back</a>
{% endblock %}
