{% extends "admin_base.html" %}

{% block content %}
<h3>Dashboard</h3>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="row">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h5>Total Users</h5>
        <h2></a><a href="{{ url_for('admin.users') }}">{{ total_users }}</a></h2>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h5>Admins</h5>
        <h2>{{ total_admins }}</h2>
      </div>
    </div>
  </div>

</div>

{% endblock %}
