{% extends "admin_base.html" %}

{% block content %}
<h2>All Pages</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Page Name</th>
        <th>Actions</th>
    </tr>

    <tr>
        <td>Home</td>
        <td>Edit | Delete</td>
    </tr>

    <tr>
        <td>Blog</td>
        <td>Edit | Delete</td>
    </tr>

    <tr>
        <td>About Us</td>
        <td>Edit | Delete</td>
    </tr>

    <tr>
        <td>Contact Us</td>
        <td>Edit | Delete</td>
    </tr>
</table>

{% endblock %}
