.min-height-500 {
    min-height: 500px; /* fixed minimum height */
}
.btn.btn-primary {
    background: olive;
    border: 0;
}
img.card-img-top {
    aspect-ratio: 2/1;
    height: 250px;
    object-fit: cover;
}