{% extends "base.html" %}
{% block content %}
<div class="container pt-5 pb-5">
{% if post.thumbnail %}
    <img src="{{ url_for('admin.static', filename='images/' + post['thumbnail']) }}" alt="{{ post.title }}" style="max-width:100%;">
{% endif %}  
<h1>{{ post.title }}</h1>

<!-- Render the content as HTML -->
<div>
    {{ post.content|safe }}
</div>

</div>
<div class="container pt-5 pb-5">
<a href="{{ url_for('main.blog_detail', slug=post['slug']) }}">← Back to Blog</a>
</div>
{% endblock %}
 