
{% extends "base.html" %}

{% block content %}
<div class="top-blog-section bg-black pt-5 pb-5 min-height-300 d-flex flex-start">
    <div class="container">
    <h1 class="text-white">Blog</h1>
    </div>
</div>
<div class="container pt-5 pb-5 ">
<div class="card-outer d-grid gap-3" style="grid-template-columns: repeat(3, 1fr);"">
    {% for post in var_post %}
        <div class="card h-100 p-3">
            <img src="{{ url_for('static', filename=post.post_thumb) }}"
                 class="card-img-top"
                 alt="{{ post.title }}">
            <h3 class="fs-3">{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <a href="/blog/{{post.slug}}" class="btn btn-primary w-50 mt-3">Read More</a>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
